* {
    box-sizing: border-box;
}

.remove-btn {
    margin-right: 5 rem;
}

.fade-enter {
 opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}



.person {
    background-color: #def;
}


.esine {
    background-color: #fdd;
}

body {
    background-color: #fdc;
}

.ModalHeader {
    background-color: #efe;
}

.ModalBody {
    background-color: #efd;
}



Label {
    background-color: #fdd;
}

.ModalFormInput {
    background-color: #def;
}

.NavbarBrand {
    background-color: #222;
    text-align: left;
}

.list-container {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
       /* grid-template-columns: repeat(3, 2fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: #aaa;
    padding: 10px;
    grid-gap: 10px 15px;
    grid-auto-flow: dense;
    width: 100%

    /* justify-content: center; */
}

.PersonList {
    width: 110%;
    background-color: #fed;
}

.ShoppingList {
    width: 100%;
    background-color: #dfe;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 2fr); */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)) ;
    

    background-color: #777;
    padding: 10px;
    grid-gap: 10px 15px;
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;

    grid-template-areas: 
        "grid-top grid-top grid-top"
        "grid-left grid-item grid-right"
        "grid-bottom grid-bottom grid-bottom";

        justify-content: center; 

    /* min-width: 0;
    min-height: 0; */



}

.grid-item,
.grid-top, 
.grid-left, 
.grid-right, 
.grid-bottom,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8  {
    display: block;
    width: 100%;
    background-color: #753;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
       
} 

/* .grid-top .grid-item {
    grid-area: grid-top;
}

.grid-bottom grid-item {
    grid-area: grid-bottom;
}

.grid-left grid-item {
    grid-area: grid-left;
}

.grid-right grid-item {
    grid-area: grid-right;
} */


#grid-item1 {


    background-color: #775;
    grid-row-start: 1;
    grid-column: 1/-1;
}

#grid-item2 {


    grid-row: 2/-1;
    grid-column-start: 1;

    background-color: #757;
}

#grid-item3 {

    grid-row: 2/-1;
    grid-column-start: -1;

    background-color: #577;
}

#grid-item4 {
    background-color: #575;

}

#grid-item5 {

    background-color: #357;

}

#grid-item6 {

    background-color: #375;
}

#grid-item7 {


    background-color: #537;
}

#grid-item8 {

    background-color: #573;
}

#grid-item9 {

    grid-row-start: -1;
    grid-column: 1/-1;

    background-color: #735;
}
