* {
    box-sizing: border-box;
}

.remove-btn {
    margin-right: 5 rem;
}

.fade-enter {
 opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}



.person {
    background-color: #def;
}


.esine {
    background-color: #fdd;
}

body {
    background-color: #fdc;
}

.ModalHeader {
    background-color: #efe;
}

.ModalBody {
    background-color: #efd;
}



Label {
    background-color: #fdd;
}

.ModalFormInput {
    background-color: #def;
}

.NavbarBrand {
    background-color: #222;
    text-align: left;
}

.list-container {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
       /* grid-template-columns: repeat(3, 2fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: #aaa;
    padding: 10px;
    grid-gap: 10px 15px;
    grid-auto-flow: dense;
    width: 100%

    /* justify-content: center; */
}

.PersonList {
    width: 110%;
    background-color: #fed;
}

.ShoppingList {
    width: 100%;
    background-color: #dfe;
}

.grid-wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 2fr); */
    
    grid-template-columns: 10rem 1fr 10rem; 
   
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  */
    
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)) ;  */
    

    background-color: #777;
    padding: 10px;
    /* grid-gap: 10px 15px; */
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;

    margin: 1rem;

    grid-template-areas: 
        "grid-top grid-top grid-top"
        "grid-left grid-container grid-right"
        "grid-bottom grid-bottom grid-bottom";

        /* justify-content: center;  */

    /* min-width: 0;
    min-height: 0; */
}

.grid-left {
    /* display: block; */
    width: 100%;
    background-color: #757;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    align-content: end;
    grid-area: grid-left;
    align-content: start;
    grid-row: 2/-1;
    grid-column-start: 1;
    margin: 0.5rem;
    margin-right: 1rem;
    
} 

.grid-right {
    /* display: block; */
    width: 100%;
    background-color: #577;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-area: grid-right;
    align-content: end;
    grid-row: 2/-1;
    grid-column-start: 3;
    margin: 0.5rem;
       
} 

.grid-top {
    display: block;
    width: 100%;
    background-color: #775;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-area: grid-top;
    justify-content: start;
    grid-row-start: 1;
    grid-column: 1/-1;
    margin: 0.5rem;
       
} 

.grid-bottom {
    display: block;
    width: 100%;
    background-color: #735;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    grid-area: grid-bottom;
    justify-content: end;
    grid-row-start: -1;
    grid-column: 1/-1;
    margin: 0.5rem;
       
} 


.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 2fr); */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)) ; */
    
    /* grid-template-rows: 1fr; */

    grid-area: grid-container;

    background-color: #777;
    padding: 5px;
    grid-gap: 1rem 0.1rem;
    grid-auto-flow: dense;
    width: 100%;
 
    /* height: 100%; */

    /* grid-template-areas: 
        ". . ."; */

        /* justify-content: center;  */

    /* min-width: 0;
    min-height: 0; */
}




.grid-item {
    display: block;
    width: 1fr;
    height: 100px;
    background-color: #753;
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    text-align: center;

    /* grid-area: grid-item; */
       
} 

.navbrand {
    background-color: #222;
    
}





#grid-item4 {
    background-color: #575;

}

#grid-item5 {

    background-color: #357;

}

#grid-item6 {

    background-color: #375;
}

#grid-item7 {


    background-color: #537;
}

#grid-item8 {

    background-color: #573;
}

